<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nchfly.crawl.dao.CrawTaskMapper">

    <select id="getAll" resultType="cn.nchfly.crawl.domain.pojo.CrawlTask">
        SELECT
        task_id taskId,
        task_name taskName,
        task_class_name taskClassName
        FROM
        t_crawl_task
    </select>

    <select id="getIsExecutionFlag" resultType="cn.nchfly.crawl.domain.pojo.Flag">
        SELECT * FROM t_flag
    </select>
</mapper>